.s-nav{
    nav{
        position: fixed;
        width: 100%;
        z-index: 2000;
        margin-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        
        .container{
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.13);
            border-radius: 25px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.2px);
            -webkit-backdrop-filter: blur(4.2px);
            border: 1px solid rgba(255, 255, 255, 0.26);
            .left{
                h2{
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .right{
                ul{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    li{
                        transition: transform .3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                        &:not(:first-child){
                            margin-left: 5rem;
                        }
                        a{
                            font-size: 2rem;
                            font-weight: 500;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        
                    }
                }
                .menu-mobile{
                    display: none;
                }
            }
        }
    }
    @media (max-width: 900px){
        nav{
            .container{
                .left{
                    h2{
                        font-size: 2.5rem; 
                    }
                }
                .right{
                    ul{
                        li{
                            &:not(:first-child){
                                margin-left: 3rem;
                            a{
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    nav{
        .container{
            .right{
                .desktop{
                    display: none;
                }
                .menu-mobile{
                    display: block;
                    width: 42px;
                    position: relative;
                    .icon{
                        cursor: pointer;
                        .close{
                            display: none;
                            width: 28px;
                            margin-left: 1rem;
                        }
                        &.active{
                            .close{
                                display: block;
                            }
                            .image{
                                display: none;
                            }
                        }
                    }
                        .mobile{
                            display: none;
                            &.active{
                                position: absolute;
                                display: flex;
                                gap: 0rem 2rem;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: flex-end;
                                right: -1rem;
                                top: 5.5rem;
                                width: 16rem;
                                height: 25rem;
                                background-color: #8446e7a4;
                                border-radius: 16px;
                                li{
                                    &:not(:first-child){
                                        margin-left: 0rem;
                                    }
                                    &:hover{
                                        transform: none;
                                    }
                                    a{
                                        display: block;
                                        font-size: 2.5rem;
                                        padding: 1rem 2rem;
                                        cursor: pointer;
                                    }
                                }
                            }
                            
                    }
                }
            }
        }
        
    }
}
}

.s-main{
    position: relative;
    padding-top: 6rem;
    height: 73rem;
    .container{
        .main{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 73rem;
            .left-container{
                width: 100%;
                height: 35rem;
                max-width: 70rem;
                h1{
                    font-size: 5.2rem;
                    margin-bottom: 1rem;
                }
                p{
                    padding-left: 2rem;
                    padding-top: 3rem;
                    font-size: 1.5rem;
                    line-height: 150%;
                    max-width: 55rem;
                }
            }
            .right-container{
                animation: spinning 10s infinite linear;
            }
        }
        
        
    }
    .sea{
        position: absolute;
        bottom: -15.5rem;
        left: 0;
        width: 100%;
        max-height: 45rem;
        z-index: 1000;
        img{
            width: 100%;
            height: 45rem;
        }
    }
    
    .ship{
        position: absolute;
        left: 20;
        bottom: 5rem;
        animation: navigation 20s infinite linear;
        img{
            width: 15rem;
        }
    }

    @media (max-width:1200px){
        .container{
            .main{
                .left-container{
                    max-width: 60%;
                    p{
                        max-width: 45rem;
                    }
                }
            }
            
        }
    }
    @media (max-width:900px){
        .container{
            .main{
                .left-container{
                    width: 50%;
                    h1{
                        font-size: 4.4rem;
                    }
                    p{
                        font-size: 1.4rem;
                        max-width: 37rem;
                    }
                }
                .right-container{
                    margin-bottom: 10rem;
                    img{
                        max-width: 32rem;
                    }
                }
            }
        }
    }
    @media (max-width:670px){
        .container{
            .main{
                .left-container{
                    h1{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.2rem;
                        max-width: 25rem;
                    }
                }
                .right-container{
                    img{
                        width: 30rem;
                    }
                }
            }
        }
        
    }
    @media (max-width: 600px){
        .container{
            .main{
                display: flex;
                align-items: center;
                .left-container{
                    margin-bottom: 10rem;
                    width: 100%;
                    max-width: 100%;
                    h1{
                        font-size: 4rem;
                        max-width: 100%;
                    }
                    p{
                        font-size: 1.5rem;
                        width: 100%;
                        max-width: 80%;
                    }
                }
                .right-container{
                    display: none;
                }
            }
        }
    }
    
}

.s-skills{
    margin-top: 7rem;
    .container{
        .text{
            max-width: 100%;
            h2{
                font-size: 4rem;
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        .skills{
            width: 100%;
            padding: 5rem 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 7rem 15rem;
            justify-items: center;
            margin-bottom: 6rem;
        }
    }

    @media (max-width:1200px){
        .container{
            .text{
                h2{
                    font-size: 3.8rem;
                }
            }
            .skills{
                gap: 7rem 10rem;
            }
        }
    }
    @media (max-width: 900px){
        .container{
            .text{
                h2{
                    font-size: 3.5rem;
                }
            }
            .skills{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    @media(max-width: 600px){
        .container{
            .skills{
                grid-template-columns: repeat(2, 1fr);
                gap: 10rem 8rem;
            }
        }
    }
}

.s-projects{
    margin-top: 7rem;
    .container{
        .text{
            max-width: 100%;
            h2{
                font-size: 4rem;
                text-align: center; 
                margin-bottom: 3rem;
            }
        }
        .projects{
            padding: 5rem 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 11rem 3rem;
            justify-items: center;
            margin-bottom: 6rem;
        }
    }

    @media (max-width:900px){
        .container{
            .text{
                h2{
                    font-size: 3.5rem;
                }
            }
            .projects{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @media (max-width: 600px){
        .container{
            .projects{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.s-contact{
    padding-top: 3rem;
    .container{
        .contact{
            .text{
                h2{
                    font-size: 4rem;
                    text-align: center; 
                    margin-bottom: 8rem;
                }
            }
            .info{
                margin: 5rem 10rem;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                }
            }
        }
    }
    @media (max-width:1200px){
        .container{
            .contact{
                .info{
                    margin: 5rem 2rem;
                }
            }
        }
        
    }
    @media (max-width:900px){
        .container{
            .contact{
                .text{
                    h2{
                        font-size: 3.5rem;
                    }
                }
                .info{
                    ul{  
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-gap: 4rem 8rem;
                        justify-items: center;
                    }
                }
            }
        }
    }
    @media (max-width:600px){
        .container{
            .contact{
                .info{
                    ul{
                        grid-gap: 4rem 2rem;
                    } 
                }
            }
        }
    }
    @media (max-width:440px){
        .container{
            .contact{
                .info{
                    ul{
                        grid-template-columns: 1fr;
                    } 
                }
            }
        }
    }
}

.s-footer{
    .container{
        .end{
            max-width: 100%;
            padding: 2rem;
            p{
                font-size: 2rem;
                text-align: center;
                opacity: 0.3;
            }
            span{
                font-size: 1.3rem;
                display: block;
                text-align: center;
                padding-top: 1.5rem;
                opacity: 0.3;
            }
        }
    }
}